<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>
        Stck | Automated Stock Taking App
    </title>

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />

    <link href="/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/nucleo-svg.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link id="pagestyle" href="/css/material-dashboard.mine63c.css" rel="stylesheet" />



</head>

<body class="g-sidenav-show  bg-gray-100">
    <div class="modal fade" id="create_stock" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCenterModalLabel">Add Stock</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3 card">
                        <input type="text" class="form-control px-2" id="name" placeholder="Name">
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating mb-3 card">
                        <input type="text" class="form-control px-2" id="sku" placeholder="SKU Number">
                        <label for="sku">SKU Number</label>
                    </div>
                    <div class="form-floating mb-3 card">
                        <input type="text" class="form-control px-2" id="description" placeholder="Description">
                        <label for="description">Description</label>
                    </div>
                    <div class="form-floating mb-3 card">
                        <input type="number" class="form-control px-2" id="quantity" placeholder="Quantity">
                        <label for="quantity">Quantity</label>
                    </div>
                    <div class="form-floating mb-3 card">
                        <input type="number" class="form-control px-2" id="price" placeholder="Price">
                        <label for="price">Price</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success py-3 add_stock" data-bs-dismiss="modal">Create</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <%- include("./includes/sidebar.ejs") %>
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <%- include("./includes/navbar.ejs") %>

                <div class="container-fluid pt-3 pb-2">

                    <div class="ms-3">
                        <h3 class="mb-0 h4 font-weight-bolder">Inventory</h3>
                        <p class="mb-4"></p>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="form-float card py-2 px-3 mb-3 w-50">
                            <input type="text" class="form-control" id="search" placeholder="Search">
                            <!-- <label for="search">Search</label> -->
                        </div>
                        <!-- <div>
                    <button class="btn btn-secondary me-2" type="button">
                        <i class="fas fa-sort"></i> Sort
                    </button>
                    <button class="btn btn-secondary" type="button">
                        <i class="fas fa-filter"></i> Filter
                    </button>
                </div>                 -->
                        <div>
                            <button class="btn btn-danger py-3 px-4" type="button">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                            <!-- <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#centermodal">Center modal</button> -->
                            <button class="btn btn-success me-2 py-3 px-4" type="button" data-bs-toggle="modal"
                                data-bs-target="#create_stock">
                                <i class="fas fa-plus"></i> Create
                            </button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header pb-0">
                            <h6>Inventory List</h6>
                        </div>
                        <div class="card-body px-3 pt-0">
                            <div class="table-responsive">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <th>Name</th>
                                            <th>SKU Number</th>
                                            <th>Description</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check" type="checkbox" value=""
                                                        id="flexCheckDefault">
                                                </div>
                                            </td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

        </main>
        <!--   Core JS Files   -->
        <script src="/js/core/popper.min.js"></script>
        <script src="/js/core/bootstrap.min.js"></script>
        <script src="/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="/js/plugins/smooth-scrollbar.min.js"></script>


        <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
                    damping: '0.5'
                }
                Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }
        </script>

        <script src="/js/material-dashboard.mine63c.js?v=3.1.0"></script>
</body>

</html>